block variables
html
  head
    title= page.title
    link(rel="stylesheet", href="/styles/main.css")
  body
    nav
      ul
        each p in site.pages.filter(p => p.type === "page")
          li
            a(href=p.uri)= p.title
    block content
    block scripts
      script(src="/scripts/app.js")