extends base.pug

block content
  .container
    .ah-banner
      iframe.ah-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3417.7207515666923!2d-96.3368866885144!3d30.618439310552986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8646848619463ca3%3A0xc969c74db6bf6ac9!2sCollege+Station%2C+TX!5e0!3m2!1sen!2sus!4v1456177486696" width="600" height="450" frameborder="0" allowfullscreen="")
  .container
    .row.ah-cv-row
      .col-md-2.col-md-offset-4.col-xs-3.col-xs-offset-0.text-right
        h4 Address
      .col-md-6.col-xs-9
        div!= site.meta.address
    .row.ah-cv-row
      .col-md-2.col-md-offset-4.col-xs-3.col-xs-offset-0.text-right
        h4 Phone
      .col-md-6.col-xs-9
        a(href=`tel:${site.meta.phone}`)!= site.meta.phone
    .row.ah-cv-row
      .col-md-2.col-md-offset-4.col-xs-3.col-xs-offset-0.text-right
        h4 Email
      .col-md-6.col-xs-9
        a(href=`mailto:${site.meta.email}`)!= site.meta.email