extends base.pug

block content
  .container.ah-thoughts
    .row
      each thought in page.images
        a.col-md-4.col-sm-6.col-xs-12.ah-thoughts-item(href=thought.src target="_blank")
          h3!= thought.title
          span.ah-date!= thought.date
          .ah-caption!= thought.caption
        